.cartwidget {
    margin-top: 20px;
    padding-bottom: 10px;
}

.span {
    font-size: 1.3rem;
    color: rgb(48, 48, 95);
    border-style: double;
    border-color: aqua;
    font-weight: bold;
}


.slashRgb {
    background-color: initial;
    background-image: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 100, 1) 5%, rgb(183, 0, 255) 10%, rgb(0, 4, 255)18%, rgba(255, 0, 275, 1) 24%, rgb(3, 27, 134) 30%, #f4524d 45%, rgb(204 0 255) 63%, rgb(228 0 255) 80%, rgba(255, 141, 16, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background-size: 300%;
    animation: bg-animation 5s infinite alternate;
    height: 4px;
    background-repeat: no-repeat;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}