.detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #1a3763;
}

.detalle-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 425px;
}

.carousel-item{
    
    height: 180px;
    margin-left: 29%;
}